#contact {
    flex-direction: column;
}
#contact img {
    width: 100%;
    position: relative;
    top: -15px;
}
#contact p {
    font-weight: 600;
    color: #000;
    text-align: center;
}
#contact a {
    color: #840808;
    text-decoration: none;
}
#contact {
    flex-direction: column;
}

#contact form {
    flex-direction: column;
    width: 100%;
}

#contact form .fields {
    flex-direction: column;
}

#contact form .field {
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

#contact form .field label,
#contact form .text label {
    color: #000;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 10px;
    transition: color .3s ease-in-out;
    text-align: center;
}
#contact form .text textarea {
    height: 200px;
    position: relative;
    left: 10px;
    width: 90%;
    background-color: #dfe6e9;
    line-height: 1em;
    padding: 10px;
    padding-top: 30px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    outline: none;
    border: none;
    font-family: 'Open Sans';
    border-radius: 5px;
    position: relative;
    z-index: 1;
    top: 0;
}

#contact form .field input {
    width: 90%;
    background-color: #dfe6e9;
    line-height: 1em;
    padding: 10px;
    padding-top: 30px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    outline: none;
    border: none;
    font-family: 'Open Sans';
    border-radius: 5px;
    position: relative;
    z-index: 1;
    top: 0;
}

#contact form .field input:focus,
#contact form .text textarea:focus {
    color: rgb(0, 14, 49);
}

#contact form .field input:focus + label,
#contact form .text textarea:focus {
    color: #840808;
}

#contact form .actions {
    flex-direction: column;
    align-content: center;
}

#contact form .actions a {
    display: block;
    text-align: center;
    padding: 1em;
    color: #000;
}

#contact form button {
    width: 70%;
    background-color: rgb(0, 14, 49);
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    left: 50px;
    position: relative;
    top: 20px;
}

#contact form button:hover {
    background-color: rgb(0, 14, 49);
}

#contact form button:active {
    background-color: rgb(0, 14, 49);
}
@media (min-width: 576px) {
    #contact label {
        position: absolute;
        left: 40px;
    }
    #contact form .text textarea {
        position: relative;
        left: 30px;
    }
    #contact form button {
        position: relative;
        left: 100px;
    }
}
@media (min-width: 992px) {
    #contact img {
        height: 700px;
        margin-bottom: -69px;
    }
    #contact label {
        position: absolute;
        left: 20px;
    }
    #contact form .fields {
        width: 30%;
        position: relative;
        left: 450px;
        top: -500px;
        opacity: 70%;
    }
    #contact form .text textarea {
        position: relative;
        width: 27%;
        top: -500px;
        left: 460px;
        opacity: 70%;
    }
    #contact form button {
        width: 20%;
        position: relative;
        top: -480px;
        left: 520px;
    }
}