#error {
    flex-direction: column;
}
#error img {
    width: 100%;
    height: 430px;
    position: relative;
    top: -10px;
}

#error .text-error h1 {
    position: relative;
    top: -240px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-shadow: 4px 4px 8px #840808;
}
#error .text-error p {
    position: relative;
    top: -220px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-shadow: 4px 4px 8px #840808;
}
@media (min-width: 576px) {

}
@media (min-width: 992px) {
    #error {
        flex-direction: row;
    }
    #error img {
        height: auto;
    }
    #error .text-error h1 {
        top: -450px;
        font-size: 60px;
    }
    #error .text-error p {
        top: -400px;
        font-size: 60px;
    }
}