#footer-contact {
    height: 470px;
    position: relative;
    background-color: #840808;
    top: 70px;
    border: none;
}

#footer-contact #logo-footer {
    background: none;
    height: 400px;
    width: 160px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    top: -50px;
}

#footer-contact .social {
    position: relative;
    width: 50vw;
    height: 70px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: -100px;
}
#footer-contact .social a {
    text-decoration: none;
    color: #fff;
}
#footer-contact .social p {
    left: -2px;
    position: relative;
    padding: 0;
    margin: 0;
    top: 220px;
}

#footer-contact .social img {
    height: 35px;
    width: 100px;
    position: relative;
    top: 240px;
    right: 90px;
    margin: 0;
    padding: 0;
}

#footer-contact p {
    color: #fff;
    top: 310px;
    position: absolute;
    left: 100px;
}
#footer-contact .menu-footer {
    display: none;
}

@media (min-width: 576px) {
    #footer-contact {
        position: relative;
        height: 690px;
        top: 100px;
    }
    #footer-contact #logo-footer {
        background: none;
        height: 400px;
        width: 200px;
        position: absolute;
        right: 20px;
        bottom: 30px;
        top: -40px;
    }
    #footer-contact .social {
        position: relative;
        width: 50vw;
        height: 70px;
        left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        top: -100px;
    }
    #footer-contact .social a {
        text-decoration: none;
        color: #fff;
    }
    #footer-contact .social p {
        display: none;
    }
    
    #footer-contact .social img {
        height: 60px;
        width: 50px;
        position: relative;
        top: 250px;
        right: -130px;
        margin: 0;
        padding: 0;
    }
    
    #footer-contact p {
        color: #fff;
        font-size: 25px;
        top: 290px;
        position: absolute;
        left: 270px;
    }
    #footer-contact .menu-footer {
        display: flex;
    }

    #footer-contact .menu-footer ul {
        flex-direction: column;
        width: 200px;
        height: 200px;
        line-height: 35px;
        margin: 30px;
    }

    #footer-contact .menu-footer ul li {
        list-style: none;
        position: relative;
        margin: 20px;
        left: -70px;
        top: -60px;
    }

    #footer-contact .menu-footer ul li a {
        text-decoration: none;
        font-size: 25px;
        color: #FFF;
    }
}

@media (min-width: 992px) {
    #footer-contact {
        position: relative;
        height: 390px;
        top: -390px;
    }
    #footer-contact #logo-footer {
        background: none;
        height: 400px;
        width: 200px;
        position: absolute;
        right: 20px;
        bottom: 30px;
        top: -40px;
    }
    #footer-contact .social {
        position: relative;
        width: 50vw;
        height: 70px;
        left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        top: -100px;
    }
    #footer-contact .social a {
        text-decoration: none;
        color: #fff;
    }
    #footer-contact .social p {
        display: none;
    }
    
    #footer-contact .social img {
        height: 60px;
        width: 100px;
        position: relative;
        top: 250px;
        right: -300px;
        margin: 0;
        padding: 0;
    }
    
    #footer-contact p {
        color: #fff;
        font-size: 25px;
        top: 300px;
        position: absolute;
        left: 500px;
    }
    #footer-contact .menu-footer {
        display: flex;
    }

    #footer-contact .menu-footer ul {
        flex-direction: column;
        width: 200px;
        height: 200px;
        line-height: 35px;
        margin: 30px;
    }

    #footer-contact .menu-footer ul li {
        list-style: none;
        position: relative;
        margin: 20px;
        left: -50px;
        top: -60px;
    }

    #footer-contact .menu-footer ul li a {
        text-decoration: none;
        font-size: 25px;
        color: #FFF;
    }
}