#history {
    flex-direction: column;
}

#history h1 {
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 14, 49);
}
#history a {
    text-decoration: none;
    color: #840808;
}

#history hr {
    position: relative;
    top: -10px;
    width: 70%;
    color: rgb(0, 14, 49);
}

#history .description{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 30px;
    flex-direction: column;
    color: rgb(0, 14, 49);
}

#history .middle #logo {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 5;
    top: 100px;
    position: relative;
    flex-direction: column;
}


@media (min-width: 576px) {
    #history {
        flex-direction: column;
    }
    
    #history header h1 {
        position: relative;
        top: 20px;
        text-align: center;
        font-size: 40px;
        color: rgb(0, 14, 49);
    }
    
    #history  hr {
        position: relative;
        width: 40%;
        top: -10px;
        color: rgb(0, 14, 49);
    }
    
    #history header .description{
        position: relative;
        top: 20px;
        text-align: center;
        font-size: 30px;
        flex-direction: column;
        color: rgb(0, 14, 49);
    }
    
    #history .middle #logo {
        width: 100%;
        height: 500px;
        position: relative;
        z-index: 3;
        top: 100px;
        position: relative;
        flex-direction: column;
    }
}
@media (min-width: 992px) {
    #history {
        flex-direction: row;
    }
    
    #history h1 {
        position: relative;
        top: 20px;
        text-align: right;
        font-size: 30px;
        color: rgb(0, 14, 49);
        right: 250px;
    }
    
    #history hr {
        width: 15%;
        color: rgb(0, 14, 49);
        position: relative;
        top: -1px;
        left: 300px;
    }
    
    #history .description{
        width: 40%;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 20px;
        font-size: 22px;
        color: rgb(0, 14, 49);
        text-align: center;
        right: -700px;
    }
    
    #history .middle #logo {
        width: 100%;
        height: 600px;
        position: relative;
        top: -65px;
        position: relative;
        flex-direction: row;
        left: -375px;
    }
}