@import 'header.css';
@import 'footer.css';
@import 'home.css';
@import 'history.css';
@import 'gallery.css';
@import 'register.css';
@import 'login.css';
@import 'contact.css';
@import 'footer-history.css';
@import 'footer-gallery.css';
@import 'footer-register.css';
@import 'footer-login.css';
@import 'footer-contact.css';

main {
    min-height: calc(100vh - 463px);
}
body {
    margin: 0;
    padding: 0;
    height: 100px;
}
