#register {
    flex-direction: column;
}

#register img {
    width: 100%;
    position: relative;
    top: -20px;
}

#register p {
    font-weight: 600;
    color: #000;
    text-align: center;
}
#register a {
    color: #840808;
    text-decoration: none;
}
#register {
    flex-direction: column;
}

form {
    flex-direction: column;
    width: 100%;
}

form .fields {
    flex-direction: column;
}

form .field {
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

form .field label {
    color: #000;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 10px;
    transition: color .3s ease-in-out;
    text-align: center;
}

form .field input {
    width: 90%;
    background-color: #dfe6e9;
    line-height: 1.5em;
    padding: 10px;
    padding-top: 30px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    outline: none;
    border: none;
    font-family: 'Open Sans';
    border-radius: 5px;
    position: relative;
    z-index: 1;
    top: 0;
}

form .field input:focus {
    color: rgb(0, 14, 49);
}

form .field input:focus + label {
    color: #840808;
}

form .actions {
    flex-direction: column;
    align-content: center;
}

form .actions a {
    display: block;
    text-align: center;
    padding: 1em;
    color: #000;
}

form button {
    width: 70%;
    background-color: rgb(0, 14, 49);
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    left: 50px;
    position: relative;
}

form button:hover {
    background-color: rgb(0, 14, 49);
}

form button:active {
    background-color: rgb(0, 14, 49);
}
#register form button a {
    color: #fff;
}
@media (min-width: 576px) {
    #register label {
        position: absolute;
        left: 50px;
    }
    #register form button {
        position: relative;
        left: 100px;
        top: 20px;
    }
    #register p {
        position: relative;
        top: 50px;
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    #register img {
        height: 680px;
        top: -125px;
        margin-bottom: -55px;
    }
    #register p {
        position: relative;
        text-align: right;
        left: -130px;
        top: -430px;
        color: #fff;
    }
    #register label {
        position: absolute;
        left: 20px;
    }
    form .fields {
        width: 30%;
        position: relative;
        left: 800px;
        top: -500px;
    }
    #register form button {
        width: 20%;
        position: relative;
        top: -480px;
        left: 870px;
    }
}